Rust:
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh 

Python packages:
- pip
- setuptools
- ortools
- protobuf==4.24.2
- pyinstaller
- verboselogs
- coloredlogs
- numpy
- matplotlib
- binarytree
- sympy
- regex
- lark
- uuid
- svglib
- svg.py
- reportlab
- robotframework
- robotframework-pabot

System tools and packages:
- cmake
- gcc
- make
- boost
- protobuf
