// vesyla_template_start package_head
package {{fingerprint}}_pkg;
// vesyla_template_end package_head

  // vesyla_template_start package_macro
  {% include "package.j2" %}
  // vesyla_template_end package_macro


  // NOTE: Add parameters here if needed

endpackage

