[Desktop Entry]
Type=Application
Name=vesyla-suite
Icon=vesyla-suite
Exec=vesyla-suite
Comment=brief description
Categories=Development;IDE;
Terminal=true
