name: master build

on:
  # trigger on any push on master
  push:
    branches:
      - master
  # trigger twice weekly (Monday and Thursday at 03:00 UTC)
  schedule:
    - cron: '0 3 * * 1' # every Monday at 03:00 UTC
    - cron: '0 3 * * 4' # every Thursday at 03:00 UTC
  workflow_dispatch:

jobs:
  ci-build-vesyla:
    name: Build Vesyla
    uses: ./.github/workflows/ci-build-appimage.yml
    secrets: inherit

  ci-run-tests:
    name: Run DRRA Tests
    uses: ./.github/workflows/ci-run-tests.yml
    needs: ci-build-vesyla
    secrets: inherit
    with:
      version: ${{ needs.ci-build-vesyla.outputs.version }}
      branch: ${{ needs.ci-build-vesyla.outputs.branch }}
